/* ==============================================================================
   Variables
   ============================================================================*/

/**
 * Colours
 */
$blue: #052647;
$orange: #f57f11;
$yellow: #fde60c;

$primary: $blue;

$facebook-blue: #3b5998;
$twitter-blue: #1da1f2;
$instagram-black: #262626;
$linkedin-blue: #0077b5;
$snapchat-yellow: #fffc00;
$pinterest-red: #bd081c;

/**
   * Fonts
   */
$family-sans-serif: 'Montserrat', $family-sans-serif;
//   $fa-font-path: "~font-awesome/fonts";

/**
   * Navbar
   */

/**
  * Footer
  */
